@use '/src/styles/constants/colors';

.dateButton {
  padding: 5px 10px;
  margin: 0 5px;
  font-weight: 600;
  color: colors.$MOA_DATEBLACK;
  background: colors.$MOA_BORDER;
  border-radius: 4px;
}
