@use '/src/styles/constants/colors';

.searchFormWrapper {
  .searchForm {
    display: flex;
    flex-direction: column;
    width: 650px;
    margin-top: 30px;
    background: colors.$WHITE;
    outline: 1px solid colors.$BLACK;

    .dateInputWrapper {
      margin-top: 10px;

      button {
        margin-left: 10px;
        color: colors.$WHITE;
        background: colors.$MOA_BLUE;
      }
    }

    .underBtns {
      text-align: right;

      button {
        min-width: 100px;
        padding: 10px 20px;
        color: colors.$WHITE;
        background: colors.$MOA_BLUE;
      }
    }

    input {
      width: 200px;
      padding: 10px;
      background: colors.$WHITE;
      border-radius: 5px;
      outline: 1px solid grey;
    }

    label {
      padding: 10px 0;
      margin-left: 5px;
      background: colors.$GRAYD;
    }
  }
}
